<header>
    <div class="margen-superior"> 
        <div class="div-margen-superior">
            <a class="logo-superior" href="https://twitter.com/" target="blanck"><i class="fab fa-twitter"></i></a>
            <a class="logo-superior" href="http://facebook.com" target="blanck"><i class="fab fa-facebook-f"></i></a>
            <a class="logo-superior" href="http://instagram.com" target="blanck"><i class="fab fa-instagram"></i></a>
            <a class="logo-superior" href="/nosotros">Nosotros</a>
            <a class="logo-superior" href="/contacto">Contacto</a>
            <a class="logo-superior" href="/ayuda">Ayuda</a>
        </div>
    </div>
    <div class="div-encabezado">
        <div class="encabezado">
            <a href="/" class="logo-azul"><img src="/design/logo2.jpg" alt="Logo MotorBike Zone" class="logo-azul"></a>
            <a href="/" class="logo-naranja"><img class="logo-naranja-img" src="/design/logo3.jpg" alt="Logo MotorBike Zone" class="logo-naranja"></a>                
            <div class="menu">
                <div class="collapsible-menu">
                    <input type="checkbox" id="menu">
                    <label for="menu"><i class="fas fa-bars"></i></label>
                    <div class="menu-content">
                        <ul class="menu-list">
                            <li><input type="search" name="buscador" id="buscador" placeholder="Buscar" class="buscador">
                                <button type="submit" class="buscador"><i class="fas fa-search"></i></button></li>
                            <li><a href="/products/productCart">Carro de Compras</a></li>
                            <li><a href="/users/login">Ingreso</a></li>
                            <li><a href="/users/register">Registro</a></li>
                            <li><a href="/nosotros">Nosotros</a></li>
                            <li><a href="/contact">Contacto</a></li>
                            <li><a href="/help">Ayuda</a></li>
                        </ul>
                    </div>
                </div>
                <div class="indice" id="indice">
                    <div class="navbar">
                        <input type="search" name="buscador" id="buscador" placeholder="Buscar" class="buscador">
                        <button type="submit" class="buscador"><i class="fas fa-search"></i></button>
                    </div>
                    <a href="/products/productoCart" class="carrito"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/users/login" class="login">Ingresar</a>
                    <a href="/users/login" class="login-mobile"><i class="fas fa-user-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>