<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorBikeZONE</title>
    <link rel="icon" href="/design/icon.png" type="image/png" >
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/ce17e9ddbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="margen-superior"> 
            <div class="div-margen-superior">
                <a class="logo-superior" href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a>
                <a class="logo-superior" href="http://facebook.com" target="blank"><i class="fab fa-facebook-f"></i></a>
                <a class="logo-superior" href="http://instagram.com" target="blank"><i class="fab fa-instagram"></i></a>
                <a class="logo-superior" href="/nosotros">Nosotros</a>
                <a class="logo-superior" href="/contacto">Contacto</a>
                <a class="logo-superior" href="/ayuda">Ayuda</a>
            </div>
        </div>
        <div class="div-encabezado">
            <div class="encabezado">
                <a href="/" class="logo-azul"><img src="/design/logo2.jpg" alt="Logo MotorBike Zone" class="logo-azul"></a>
                <a href="/" class="logo-naranja"><img src="/design/logo3.jpg" alt="Logo MotorBike Zone" class="logo-naranja"></a>
                <div class="menu">
                    <div class="collapsible-menu">
                        <input type="checkbox" id="menu">
                        <label for="menu"><i class="fas fa-bars"></i></label>
                        <div class="menu-content">
                            <ul class="menu-list">
                                <li><input type="search" name="buscador" id="buscador" placeholder="Buscar" class="buscador">
                                    <button type="submit" class="buscador"><i class="fas fa-search"></i></button></li>
                                <li><a href="/productoCart">Carro de Compras</a></li>
                                <li><a href="/login">Ingreso</a></li>
                                <li><a href="/register">Registro</a></li>
                                <li><a href="/nosotros">Nosotros</a></li>
                                <li><a href="/contact">Contacto</a></li>
                                <li><a href="/help">Ayuda</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="indice" id="indice">
                        <div class="navbar">
                            <input type="search" name="buscador" id="buscador" placeholder="Buscar" class="buscador">
                            <button type="submit" class="buscador"><i class="fas fa-search"></i></button>
                        </div>
                        <a href="/productoCart" class="carrito"><i class="fas fa-shopping-cart"></i></a>
                        <a href="/login" class="login">Ingresar</a>
                        <a href="/login" class="login-mobile"><i class="fas fa-user-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div>
            <img class="div-imagen-home" src="https://www.freejpg.com.ar/image-900/1f/1f4e/F100006686-motociclista.jpg" alt="img-home">
        </div>



        <div class="div-ofertas">
             <h3>OFERTAS</h3> 
                    <br>
        </div>


        <div class="div-articulos">
            <section class="section1">
                <article class="article-home" >
                   <a href="/"> <img class="img1" src="https://http2.mlstatic.com/honda-cb250-twister-negra-2020-0km-D_NQ_NP_919561-MLA26422425152_112017-F.webp" alt="honda cb250 twister"></a>
                    <p class="p-home">$450.000 Honda cb250 twister.
                                    <br>
                        2020 | 0km. </p>
                </article>
                
                <article class="article-home">
                   <a href="/"> <img class= "img1" src="https://http2.mlstatic.com/honda-xr-150-18cta19439-motoroma-tipo-xr-250-xre-300-190-D_NQ_NP_749505-MLA42270141831_062020-F.webp" alt="honda xr150"></a>
                    <p class="p-home">$270.000 Honda xr150 .
                        <br>
                         2020 | 0km. </p>
                </article>
                <article class="article-home">
                    <a href="/"><img class="img1" src="https://http2.mlstatic.com/yamaha-ybr-125-ciclofox-contado-oferta-D_NQ_NP_794897-MLA29933602466_042019-F.webp" alt="Yamaha ybr 125"></a>
                    <p class="p-home">$200.000 Yamaha ybr 125 .
                        <br>
                         2019 | 0km. </p>
                </article>
                <article class="article-home">
                   <a href="/"> <img class="img1" src="https://http2.mlstatic.com/yamaha-fz-fi-d-nuevo-modelo-ciclofox-12-ctas-sinteres-D_NQ_NP_847458-MLA42088750750_062020-F.webp" alt="Yamaha fz 16"></a>
                    <p class="p-home">$260.000 Yamaha fz 16 Fi .
                        <br>
                         2020 | 0km. </p>
                </article>
                <article class="article-home">
                   <a href="/"> <img class="img1" src="https://http2.mlstatic.com/corven-energy-110-18ctas4727-mroma-tuning-125-full-mirage-D_NQ_NP_659179-MLA32867417078_112019-F.webp" alt="Yamaha fz 16"></a>
                    <p class="p-home">$63.000 Corven energy 110 .
                        <br>
                         2020 | 0km. </p>
                </article>
                <article class="article-home">
                   <a href="/"> <img class="img1" src="https://http2.mlstatic.com/honda-cg150-new-titan-rojo-2020-0km-avant-motos-D_NQ_NP_615914-MLA40366154223_012020-F.webp"></a>
                    <p class="p-home">$235.000 Honda cg150 Titan .
                        <br>
                         2020 | 0km. </p>
                </article>
    
            </section>
        </div>  
        


    <footer>
        <div class="pie-de-pagina">
            <div class="links-inferiores">
                <a class="link-inferior" href="/nosotros">Nosotros</a>
                <a class="link-inferior" href="/contacto">Contacto</a>
                <a class="link-inferior" href="/ayuda">Ayuda</a>
            </div>
        </div>
        <div class="margen-inferior">
            <div class="div-logo-inferior">
                <a class="logo-inferior" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a class="logo-inferior" href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a class="logo-inferior" href="http://instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>