<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <body>
        <%- include('./partials/header') %>
            <div>
                <img class="div-imagen-home" src="/images/imagen-banner-homepage.jpg" alt="img-home">
            </div>



            <div class="div-ofertas">
                <h3>OFERTAS</h3> 
                        
            </div>


            <div class="div-articulos">
                <section class="section1">
                    <article class="article-home" >
                    <a href="/productDetail" class="product-detail"> <img class="img1" src="/images/honda-cb250-twister-negro.jpg" alt="honda cb250 twister">
                        <p class="p-home">$450.000 Honda cb250 twister.
                                        <br>
                            2020 | 0km. </p></a>
                    </article>
                    
                    <article class="article-home">
                    <a href="/productDetail" class="product-detail"> <img class= "img1" src="/images/benelli-tnt-150-verde.png" alt="honda xr150">
                        <p class="p-home">$160.000 Benelli tnt 15.
                            <br>
                            2020 | 0km. </p></a>
                    </article>
                    <article class="article-home">
                        <a href="/productDetail" class="product-detail"><img class="img1" src="/images/yamaha-125-blanco.jpg" alt="Yamaha ybr 125">
                        <p class="p-home">$200.000 Yamaha ybr 125 .
                            <br>
                            2019 | 0km. </p></a>
                    </article>
                    <article class="article-home">
                    <a href="/productDetail" class="product-detail"> <img class="img1" src="/images/yamaha-fz-rojo.jpg" alt="Yamaha fz 16">
                        <p class="p-home">$260.000 Yamaha fz 16 Fi .
                            <br>
                            2020 | 0km. </p></a>
                    </article>
                    <article class="article-home">
                    <a href="/productDetail" class="product-detail"> <img class="img1" src="/images/motomel-blitz-110-azul.png" alt="img motomel blitz">
                        <p class="p-home">$63.000 Motomel blitz 110 .
                            <br>
                            2020 | 0km. </p></a>
                    </article>
                    <article class="article-home">
                    <a href="/productDetail" class="product-detail"> <img class="img1" src="/images/honda-titan-150-rojo.jpg">
                        <p class="p-home">$235.000 Honda cg150 Titan .
                            <br>
                            2020 | 0km. </p></a>
                    </article>
        
                </section>
            </div>  
            
            <%- include ('./partials/footer') %>


        
    </body>
</html>