<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/jpg" href="/logo2.jpg">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/ce17e9ddbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="margen-superior"> 
            <div class="div-margen-superior">
                <a class="logo-superior" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a class="logo-superior" href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a class="logo-superior" href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                <a class="logo-superior" href="/nosotros">Nosotros</a>
                <a class="logo-superior" href="/contacto">Contacto</a>
                <a class="logo-superior" href="/ayuda">Ayuda</a>
            </div>
        </div>
        <div class="div-encabezado">
            <div class="encabezado">
                <a href="/" class="logo-azul"><img src="/design/logo2.jpg" alt="Logo MotorBike Zone" class="logo-azul"></a>
                <a href="/" class="logo-naranja"><img src="/design/logo3.jpg" alt="Logo MotorBike Zone" class="logo-naranja"></a>
                <div class="menu">
                    <div class="collapsible-menu">
                        <input type="checkbox" id="menu">
                        <label for="menu"><i class="fas fa-bars"></i></label>
                        <div class="menu-content">
                            <ul class="menu-list">
                                <li><input type="search" name="buscador" id="buscador" placeholder="Buscar" class="buscador">
                                    <button type="submit" class="buscador"><i class="fas fa-search"></i></button></li>
                                <li><a href="/productoCart">Carro de Compras</a></li>
                                <li><a href="/login">Ingreso</a></li>
                                <li><a href="/register">Registro</a></li>
                                <li><a href="/nosotros">Nosotros</a></li>
                                <li><a href="/contact">Contacto</a></li>
                                <li><a href="/help">Ayuda</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="indice" id="indice">
                        <div class="navbar">
                            <input type="search" name="buscador" id="buscador" placeholder="Buscar" class="buscador">
                            <button type="submit" class="buscador"><i class="fas fa-search"></i></button>
                        </div>
                        <a href="/productCart" class="carrito"><i class="fas fa-shopping-cart"></i></a>
                        <a href="/login" class="login">Ingreso</a>
                        <a href="/login" class="login-mobile"><i class="fas fa-user-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <br>
    </section>
    <footer>
        <div class="pie-de-pagina">
            <div class="links-inferiores">
                <a class="link-inferior" href="/nosotros">Nosotros</a>
                <a class="link-inferior" href="/contacto">Contacto</a>
                <a class="link-inferior" href="/ayuda">Ayuda</a>
            </div>
        </div>
        <div class="margen-inferior">
            <div class="div-logo-inferior">
                <a class="logo-inferior" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a class="logo-inferior" href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a class="logo-inferior" href="http://instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>