* {
    font-family: 'Rubik', sans-serif
}
button:hover {
    cursor: pointer;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
input:focus {
    outline: none;
}
.body-content {
    flex: 1 0 auto;
    background-color: #f1f8fe;
  }

  a {
      text-decoration: none;
  }
/*Mobile first: primero definimos el style de la versión mobile 450px o menos con media queries*/

/* diseño del encabezado */
    .margen-superior {
        display: none;
        width: 100%;
    }
    .logo-azul{
        display: none;
    }
    .login{
        display: none;
    }
    .indice {
        display: none;
    }
    .encabezado {
        width: 100%;
        margin: auto;
        background-color: #FCA311;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo-naranja {
        text-align: center;
        display: block;
        margin: 5px;
    }
    .logo-naranja-img {
        width: 80%;       
    }
    .menu {
        text-align: center;
        margin-bottom: 5px;
    }
    .collapsible-menu {
        float: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #265277;
    }
    .menu-list li {
        list-style-type: none;
        text-align: center;
    }
    .menu-list {
        padding-inline-start: 0%;
    }
    .menu-list a {
        display: block;
        text-decoration: none;
        color: #265277;
    }
    .menu-content {
        max-height: 0;
        overflow: hidden;
    }
    .menu-content ul li {
        border-bottom: solid 1px #265277;
    }
    input:checked ~ .menu-content {
        max-height: 100%;
    }
    input#menu {
        display: none;
    }
    .menu-nav-mobile {
        display: flex;
        align-items: center;
    }
    .login-mobile {
        order: 1;
        color: #265277
    }
    .buscador {
        color: #265277;
        background-color: inherit;
        border: none;
    }
    /* fin diseño encabezado */

    /* diseño del pie de página */
    .pie-de-pagina{
        background-color: #265277;
        padding: 15px;
        text-align: center;
    }
    .links-inferiores {
        margin: auto;
    }
    .margen-inferior{
        background-color: #FCA311;
        margin: auto;
        text-align: center;
    }
    .div-logo-inferior {
        margin: auto;
        padding: 10px;
    }
    .logo-inferior {
        color: #265277;
        padding: 3px;
    }
    .link-inferior {
        color: #FCA311;
        text-decoration: none;
        padding: 10px 3px;
    }
    /* fin pie de página */
    
    
    /* Adaptacion de estilos para productos version mobile (home)*/
    .img1 {
        object-fit: contain;
    }
    .div-img1 {
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
    }
    .div-imagen-home{
    
        width: 100%;
        display: none;
        justify-content: center;
        
    }
    .section1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around ;
    }
    .div-articulos {
        margin: 0 auto;
        padding: 0 5%;
        flex-direction: column;
        background-color: #F1F8FE;
    }
    .article-home {
        border: 1px solid #F1F8FE;
        border-radius: 6px;
        margin-top : 10px;
        margin-bottom: 10px; 
        background-color: white;
        height: fit-content;        
    }  
    .article-home:hover {
        border: 1px solid #265277;
    }
    .p-home {
        color:#173650;
        background-color: #FCA311 ;
        text-align: center;
    }
    
    .product-detail {
        text-decoration: none;
    }

    .div-ofertas {
        padding: 2px;
        background-color:#FCA311;
        color: #265277;
        height: 40px;
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* Diseño de los formularios de login y registro */
    .login-form {
        color: #265277;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .viewPass {
        cursor: pointer;
    }
    .viewRePass {
        cursor: pointer;
    }
    .new-pass-button:hover {
        cursor: pointer;
    }
    .olvide-pass-link {
        padding: 15px;
    }
    .olvide-pass-link a {
        text-decoration: none;
        color: #173650;
    }
    .olvide-pass-link:hover a {
        text-decoration: underline;
    }
    .campo-datos {
        border: solid 1px #265277;
        background-color: #Ffffff;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .campo-datos-checkbox {  
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        width: 300px;
        flex-direction: row;
        justify-content: flex-start;
    }
  
    .campo-datos-type {
        border: none;
        flex-grow: 1;
    }
    .boton-form {
        border: none;
        border-radius: 5px;
        background-color: #FCA311;
        color: #04233b;
        margin: 5px;
        padding: 5px;
        width: fit-content;
    }
    .register-form {
        text-align: center;
        color: #265277;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        font-size: 18px;
    }
    .register-form-fields {
        display: flex;
        flex-direction: column;
    }
    .register-form-block {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .register-form-terms {
        margin: 10px;
        font-size: 80%;
    }
    .register-form-button {
        border: none;
        border-radius: 5px;
        padding: 5px;
        display: inline-block;
        margin: 10px;
        background-color: #FCA311;
        color: #265277;
    }
    .registrate {
        padding: 10px;
    }
    .register-errors {
        color:red;
        font-size: 15px;
    }
    /* fin diseño formularios */


    /*version mobile product detail*/

    .sugerencias {
        display:none; 
        font-style: italic;  
    }
    .div-imagen-moto{
        border-radius: 6px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
     }
     .imagen-moto {
         width: 100%;
     }
    .section-pd {
        display:none;   
    }
    .boton-agregar{
        color: #04233b;
        background-color: #FCA311;
        display: flex;
        border-radius: 5px;
        border: none;
        font-size: 12px;
        margin-left: 0%;
        padding:5px;
        margin: 4px;
    }
    .boton-editar{
        color: #04233b;
        background-color: rgb(253, 28, 28);
        display: flex;
        border-radius: 5px;
        border: none;
        font-size: 12px;
        margin-left: 0%;
        padding:5px;
        margin: 4px;
    }
    .boton-agregarcarrito{
        color: #04233b;
        background-color: #FCA311;
        display: flex;
        border-radius: 5px;
        border: none;
        font-size: 12px;
        margin-top: 4%;
        margin-left: 0%;
        padding:5px;
        margin: 4px;
    }
    .div-articulo {
        width: 1366px;
        margin: 0 auto;
        
        flex-direction: row;
        /*max-width: 900px;*/
    }
    .article-moto {
        border: 4px solid #265277;
        border-radius: 6px;
        margin-top : 10px;
        margin-bottom: 10px; 
        background-color: white; 
    }
    .detalle-botones {
        display: flex;
        flex-direction: column;
    }
    .detalle-botones-public {
        display: flex;
        justify-content: space-around;
    }
    .detalle-botones-admin {
        display: flex;
        justify-content: space-around;
    }
    .acomodar {
        width: 90%;
        margin: auto;
    }
    .dot {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        border: solid 1px black;
        margin: 10px;
      }
      .colores {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
      }
      .titulo-colores {
          margin: 0;
          margin-top: 5px;
      }
      .moto-imagenes {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
      }
      .product-discount {
          color: #FCA311;
      }
      .precio-tachado {
          text-decoration: line-through;
          color: #265277;
      }
      .detail-info {
          display: flex;
          flex-direction: column;
      }
      .detail-info-content {
          display: flex;
          flex-direction: row;
          justify-content: left;
      }
      .detail-info-element {
          padding-right: 20px;
      }
/*Version mobile carrito*/

.carrito-compras{
    display: flex;
    flex-direction: column;
    
}
.carrito-vacio {
    text-align: center;
}
.productos-carrito-div{
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: solid 2px #265277;
    margin: 6% 2% 0 2%;
    color: #173650;
}
.section1 {
    background-color: #F1F8FE;
}
/*Color gris para las letras del carrito*/

.producto-listado{
    margin-left: 3%;
    width: 45%;
}
.precio-unitario{
    width: 18%;
    text-align: center;
    font-size: small;
}
.cantidad-listado{
    width: 18%;
    text-align: center;
    font-size: small;
}
.subtotal-listado{
    margin-right: 2%;
    font-size: small;
}
.productos-en-carrito{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0 2%;
    border-bottom: #265277 solid 1px;
    color: rgb(85, 83, 83);
}

.motos-carrito{
    margin-left: 3%;
    width: 45%;
}
.precio-numeros{
    width: 18%;
    text-align: center;
}
.cantidad-carrito {
    display: flex;
    align-items: center;
    width: 18%;
    justify-content: center;
}
.cantidad-numeros{
margin-right: 1px;
}
.subtotal-numeros{
margin-right: 2%;

align-self: flex-end;
}
.total-carrito{
display: flex;
justify-content: space-between;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
background-color: white;
border-top: #265277 solid 2px;
margin: 0 2% 1% 2%;
color: rgb(85, 83, 83);
}
.total-listado{
margin-left: 3%;
}
.total-numero{
margin-right: 2%;
}
.boton-compra-div {
    display: flex;
    justify-content: center;
}
.boton-compra{
    color: #173650;
    background-color: #FCA311;
    border-radius: 5px;
    font-size: 14px;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    border: none;
}
.amount {
    margin:0
}
.flechas-cantidad {
display: flex;
flex-direction: column;
margin-left: 5px;
}
.boton-flechas-cantidad {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    background: none;
}
    
/* diseño pagina de contacto */
.contact-section {
    color: #265277;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consulta-enviada {
    color: #FCA311;
}

::placeholder {
    color: #265277;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form-input {
    width: 300px;
    margin: 10px;
    border: #8aa4ba solid 1px;
    padding: 5px;
    border-radius: 5px;
}
.contact-form-boton {
    margin: 10px;
    border: none;
    background-color: #FCA311;
    padding: 5px;
    border-radius: 15px;
}
/* fin pagina de contacto */

/* diseño creacion de producto */
.create-product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #265277;
    background-color: #F1F8FE;
}
.create-validation-errors {
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    border: 1px solid #04233b;
    padding: 3px;
    margin: 2;
    top:100%;
    color: red;
    visibility: hidden;
}
.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.create-form-element {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    border: #aaa 1px solid;
    position: relative;
}
.create-form-button {
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.create-form-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.create-form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create-form-input {
    outline: none;
    background-color: #F1F8FE;
    border: none;
}
/* fin creacion producto */

.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #173650;
}
.error-404-inicio a{
    text-decoration: none;
    color: #173650;
}
.error-404-inicio {
    margin: 15px;
}
/* fin error 404 */

/* new password */
.new-pass-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-pass-main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* fin new password */

/* diseño nosotros */
.nosotros-seccion {
    display: flex;
    flex-direction: column;
    background-color: #F1F8FE;
}

.concesionaria {
    width: 100%;
}
.nosotros-texto {
    padding: 2%;
}
.nosotros-titulo {
    font-style: italic;
}
.link-direccion {
    text-decoration: none;
    color: #265277;
}
/* fin nosotros */

/* diseño perfil usuario */
.profile {
    display: flex;
    flex-direction: column;
}
.profile-image {
    width: 90%;
    margin: 5px 0;
    border-radius: 50%;
    border: solid 1px #173650;
    width: 300px;
    height: 300px;
}
.div-profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    position: absolute;
    left: 10%;
    top: 5%;
    margin: auto;
    border: none;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal-content-info {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .modal-text{
      padding: 40px;
      text-align: center;
  }
  .modal-header {
      text-align: center;
      width: 90%;
      margin: 5px auto;
  }
  .modal-titulo {
      margin: 0 auto;
      padding: 20px;
      display: inline-block;
  }
  .close {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    float: right;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .edit-user-content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .edit-user-form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
/* fin diseño perfil usuario */

/* diseño database form*/
.new_category{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #265277 solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
.new_color{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #265277 solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
.new_brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #265277 solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
.database_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.database_form_title {
    text-align: center;
}

/* fin database form */

/*A partir de ahora definimos el estilo de la versión web*/

/*Desde esta linea hasta nuevo aviso se estiliza el buscador con hover */
@media (min-width: 501px){
    .logo-naranja {
        display: none;
    }
    .login-mobile{
        display: none;
    }
    .collapsible-menu {
        display: none;
    }
    .margen-superior {
        display: inline-block;
    }
    .indice {
        display: inline-block;
    }

    .navbar {
        display: inline-block;
        background-color: #265277;
        padding: 10px;
    }
    #buscador{
        display:none;
    }
    .buscador {
        background-color: inherit;
        border: none;
    }

    .navbar:hover #buscador{
        display: inline-block;
    }
    .navbar:hover {
        background-color: #f1f8fe;
        border-radius: 20px;
        border: solid 2px #8aa4ba;
    }
    /*Hasta acá es el estilizado del buscador*/

    .margen-superior {
        background-color: #FCA311;
        text-align: left;
    }

    .pie-de-pagina{
        background-color: #265277;
        padding: 15px;
        text-align: center;
    }
    .links-inferiores {
        margin: auto;
    }
    .margen-inferior{
        background-color: #FCA311;
        margin: auto;
        text-align: center;
    }

    .div-logo-inferior {
        margin: auto;
        padding: 10px;
    }

    .logo-inferior {
        color: #265277;
        padding: 3px;
    }

    .link-inferior {
        color: #FCA311;
        text-decoration: none;
        padding: 10px 3px;
    }
    .div-margen-superior {
        margin-right: 10%;
        text-align: right;
    }

    .logo-superior {
        color: #265277;
        text-decoration: none;
        margin-right: 0px;
        padding: 3px;
    }

    /*encabezado logo e indice son los tres elementos que configuran el header azul*/
    .encabezado {
        width: 80%;
        margin: auto;
        background-color: #265277;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo-azul {
        display: inline;
        width:45%;
        margin-left: 0%;
        text-align: left;
    }

    .indice {
        color: #FCA311;
        float: right;
    }

    .carrito {
        padding: 8px;
    }

    .login {
        display: inline;
        color: #FCA311;
        text-decoration: none;
        padding:10 px;
        text-align: center;
        
    }

    .div-encabezado {
        background-color: #265277;
    }

    .fas {
        color: #FCA311;
    }

    /* estilos section motos home desktop*/

    .section1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around ;

    }
    .div-articulos {
        margin: 0 auto;
        flex-direction: row;
        
    }
    article img {
        width: 100%;
    }
    
  
    .p-home {
        color:#173650;
        background-color: #FCA311 ;
        text-align: center;
    }
    
/* aca terminan estilos en la parte de las motos*/

    .div-imagen-home{
        
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
   
    /*Desde aca se arma el listado de productos en carrito de compras*/
    .productos-carrito-div{
        display: flex;
        justify-content: space-between;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin: 6% 2% 0 2%;
        color: #173650;
    }
    /*Color gris para las letras del carrito*/


    
    .precio-unitario{
        
        font-size: medium;
    }
    .cantidad-listado{
        font-size: medium;
    }
    .subtotal-listado{
        font-size: medium;
    }
    .productos-en-carrito{
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: 0 2%;
        border-bottom: #265277 solid 1px;
        color: rgb(85, 83, 83);
    }


    
    .cantidad-carrito {
        display: flex;
        align-items: center;
        width: 18%;
        justify-content: center;
    }
   
    .cantidad-numeros{
        margin-right: 1px;
    }
    
    .total-carrito{
        display: flex;
        justify-content: space-between;
    }
    
    

    .flechas-cantidad {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }


    /* detalle de producto*/



    .sugerencias {
        text-align: center;
        color:#173650;
        background-color: #FCA311 ;
        width: 90%;
        display: inline-block;

    }

    .section-pd {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around ;
        
        border-radius: 6px;

    }
    .div-articulo {
        max-width: 90%;
        margin: 0 auto;
        
        flex-direction: row;
        /*max-width: 900px;*/
    }

    .article-moto {
        border: 4px solid #265277;
        border-radius: 6px;
        margin-top : 10px;
        margin-bottom: 10px; 
        background-color: white; 
    
    }
    .p-product {
        color:#173650;
        background-color: #FCA311 ;
        text-align: center;
    }

    .caracteristicas{
        border-radius: 6px;
        background-color: #f1f8fe;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .lista{
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 5%; 
        display:flex;
    }
    
    
    .product-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .listas-caracteristicas{
        display: flex;
        justify-content: left;
    }
    .moto-imagenes {
        width: 50%;
    }
    .listas{
        display: flex;
        margin-top: 2%;
        margin-bottom: 20%;
        
        
    }

    .acomodar{
        margin: 2%;
        margin-top: 2%;
        text-align: left;
        width: 45%;
    }
    .background{
        border-radius: 6px;
        background-color: #f1f8fe;
        width: 90%;
    }

    .background-fondo{
        border-radius: 6px;
        margin-top: 2%;
        width: 90%;
    }
    .section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    /* diseño nosotros */
    .nosotros-seccion {
        flex-direction: row;
        justify-content: center;
    }
    .concesionario-div {
        display: flex;
        align-items: center;
        width: 35%;
    }
    .concesionaria {
        width: 100%;
    }
    .nosotros-texto {
        width: 50%;
    }

    /* fin nosotros */

    /* creacion producto */
    .create-form-row {
        flex-direction: row;
    }
    .create-form-column {
        width: 45%;
    }
    /* fin producto  */

    /* diseño registro */
    .register-form-fields {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 700px;
    }
    .div-campo-datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
    }
    .register-form-block {
        margin: 10px;
    }
    /* fin registro */

    /* diseño perfil */
    .div-profile-image {
        width: 20%;
    }
    .profile {
        flex-direction: row;
        justify-content: space-around;
    }
    /* fin perfil */
}

/* diseño ayuda */
.titulo-ayuda {
    display: flex;
    margin-left: 39%;
}

.div-contenedor-ayuda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuestionario-pregunta{
   width: 75%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-preguntas-ayuda{
    flex-direction: column;
    width: 45%;
}
/* fin ayuda */
