<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <div class="body-content">
        <%- include('./partials/header') %>
        <section class="error-404">
            <h2>Ups!</h2>
            <h3>Hubo un error en la conexión de la base de datos</h3>
            <br>
            <div class="error-404-inicio"><a href="/">Hace click acá para volver al Inicio</a></div>
        
        </section>
    </div>
    <%- include('partials/footer') %>
</body>
</html>