<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <div class="body-content">
        <%- include('./partials/header') %>
        <section class="help-section">
            <h1 class="titulo-ayuda">¿En qué podemos ayudarte?</h1>
        </section>
    </div>
    <section class = "cuestionario-ayuda">
        <h2 class = "preguntas-ayuda">¿Cómo podés abonar tu compra?</h2>
        <h2 class = "preguntas-ayuda">¿Dónde puede retirar el producto?</h2>
        <h2 class = "preguntas-ayuda">¿Cómo son las políticas de devolución?</h2>
        <h2 class = "preguntas-ayuda">¿Cuáles son los términos de la garantía?</h2>
        <h2 class = "preguntas-ayuda">¿Cómo puede cancelar una compra?</h2>
        <h2 class = "preguntas-ayuda">¿Hay stock del producto?</h2>
    </section>
    <%- include('partials/footer') %>
</body>
</html>