<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <div class="body-content">
        <%- include('./partials/header') %>
        <section class="nosotros-seccion">
                <div class="concesionario-div">
                    <img src="/images/concesionario.jpeg" alt="concesionario" class="concesionaria">
                </div>
                <div class="nosotros-texto">
                    <h2 class="nosotros-titulo">Motorbike Zone</h2>
                    <p>Somos una concesionaria con 15 años de trayectoria, encontrando la mejor moto para vos.
                        Nuestros expertos van a saber recomendarte la moto que mas se ajusta a tus necesidades y gustos.
                        Ya 25.000 clientes confiaron en nuestro servicio y consiguieron su primer moto. </p>
                        <p>A diferencia de otras concesionarias, nos enfocamos tambien en la venta de motos usadas.
                        Haciendo un análisis exahustivo de las motos que recibimos, para ofrecer productos de primera calidad. </p>
                        <p>Además te asesoramos en los mejores accesorios para que tengas mayor seguridad vos y tu moto. 
                        Ofrecemos únicamente productos que cumplen con las normas internacionales de seguridad.</p>
                        <p>Si confias en nosotros, te ofrecemos garantía por un año, incluyendo los primeros 2 service completos para tu moto.</p>
                        <p>Encontrá nuestra concesionaria en <a href="https://www.google.com.ar/maps/@-34.6042741,-58.4127467,20z" target="blanck" class="link-direccion"> Avenida Corrientes 400, esquina Gallo.</a></p>
                </div>
        
        </section>
    </div>
    <%- include('partials/footer') %>
</body>
</html>