<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('./partials/header') %>
    <section>
        <h2>Error 404!</h2>
        <h3>Page not found</h3>
        <br>
        <div><a href="/">Volver al Inicio</a></div>
    
    </section>
    <%- include ('./partials/footer') %>
</body>
</html>