<footer>
    <div class="pie-de-pagina">
        <div class="links-inferiores">
            <a class="link-inferior" href="/nosotros">Nosotros</a>
            <a class="link-inferior" href="/contact">Contacto</a>
            <a class="link-inferior" href="/ayuda">Ayuda</a>
        </div>
    </div>
    <div class="margen-inferior">
        <div class="div-logo-inferior">
            <a class="logo-inferior" href="https://twitter.com/" target="blanck"><i class="fab fa-twitter"></i></a>
            <a class="logo-inferior" href="http://facebook.com" target="blanck"><i class="fab fa-facebook-f"></i></a>
            <a class="logo-inferior" href="http://instagram.com" target="blanck"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>