<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="body-content">
        <%- include('../partials/header') %>
        <main class="login-form">
            <h1 class="titulo-seccion">Ingreso</h1>
            <form action="/" method="POST">
                <label for="email">E-mail</label>
                <div class="campo-datos">
                    <i class="fas fa-envelope"></i><input type="email" name="email" id="email" class="campo-datos-type">
                </div>
                <label for="password">Contraseña</label>
                <div class="campo-datos">
                    <i class="fas fa-lock"></i><input type="password" name="password" id="password" class="campo-datos-type">
                </div>
                <div class="remember">
                    <input type="checkbox" name="remember" id="remember" class="remember"><label for="remember">Recordarme</label>
                </div>
                <div class="olvide-pass-link">
                    <p onclick="document.getElementById('new-password-form').style.display='block'" class="new-pass-button" data-toggle="modal" data-target="#profile-image-form">Olvidé mi contraseña </p>
                </div>
                <button type="submit" class="boton-form">Ingresar</button>
            </form>
            <div>
                <!-- <div class="boton-form"><i class="fab fa-google-plus-g"></i>   Ingresá con Google</div>
                <div class="boton-form"><i class="fab fa-facebook-f"></i>   Ingresá con Facebook</div> -->
            </div>  
            <div class="registrate">
                <a href="/users/register">¿No tenés una cuenta? Resgistrate</a>
            </div>

            <div id="new-password-form" class="modal">
                <div class="modal-content">
                    <div class="new-password-content">
                        <div class="modal-header">
                            <h3 class="modal-titulo">Recuperar Contraseña</h3>
                            <span class="close" onclick="document.getElementById('new-password-form').style.display='none'">&times;</span>
                        </div>
                        <div class="new-pass-main">
                            <p>Enviaremos un email a tu casilla con un link para regenerar la contraseña</p>
                            <form action="/users/login" method="POST">
                                <div class="campo-datos">
                                    <i class="fas fa-envelope"></i><input type="email" name="email" id="email" class="campo-datos-type">
                                </div>
                                <button class="boton-form">Enviar</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>

        </main>    
    </div>
    <%- include('../partials/footer') %>
</body>
</html>