<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header') %>
    <main class="new-pass-main">
        <h2>Recuperar Contraseña</h2>
        <p>Enviaremos un email a tu casilla con un link para regenerar la contraseña</p>
        <form action="" method="POST">
            <div class="campo-datos">
                <i class="fas fa-envelope"></i><input type="email" name="email" id="email" class="campo-datos-type">
            </div>
            <button class="boton-form">Enviar</button>
        </form>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>